body, html{
  height:100%;
}
body{
  margin: 0px;
  background-image: url("../img/background.png");
  font-size: 18px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
nav {
  background: linear-gradient(50deg, #2D70B6, #28A4CD, #26C3C0);
  border: none;
}
.navbar {
  height: 60px;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: -30px; // remove the gap so it doesn't close
 }
.title, .addDancerButton{
  padding:5px 12px;

}

.title {
  font-family: 'Gloria Hallelujah', cursive;
  color: #FFF;
  opacity: .95;
  position: relative;
  text-align: center;
  margin-top: -1px;
}

.bulbasaur {
  background-image: url("../img/sprites/bulbasaur.gif");
  height: 192px;
  width: 192px;
  position: absolute;
}
.charmander {
  background-image: url("../img/sprites/charmander.gif");
  height: 192px;
  width: 192px;
  position: absolute;
}
.alakazam {
  background-image: url("../img/sprites/alakazam.gif");
  height: 192px;
  width: 192px;
  position: absolute;
}
.exec {
  background-image: url("../img/sprites/exec.gif");
  height: 99px;
  width: 142px;
  position: absolute;
}
.gengar {
  background-image: url("../img/sprites/gengar.gif");
  height: 192px;
  width: 192px;
  position: absolute;
}
.hypno {
  background-image: url("../img/sprites/hypno.gif");
  height: 66px;
  width: 62px;
  position: absolute;
}
.snorlax {
  background-image: url("../img/sprites/snorlax.gif");
  height: 75px;
  width: 74px;
  position: absolute;
}
.steelix {
  background-image: url("../img/sprites/steelix.gif");
  height: 93px;
  width: 88px;
  position: absolute;
}
.venom {
  background-image: url("../img/sprites/venom.gif");
  height: 85px;
  width: 120px;
  position: absolute;
}
.wiggly {
  background-image: url("../img/sprites/wigglytuff.gif");
  height: 72px;
  width: 68px;
  position: absolute;
}
#pokeball {
  background-image: url("../img/dropdown.png");
  height: 30px;
  width: 30px;
  background-size: 100%;
  background-repeat: no-repeat;
  margin-right: 10px;
  margin-top: -62px;
}
#logo {
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("../img/logo.png");
  height: 70px;
  width: 130px;
  margin: 0px auto;
  margin-top: -5px;
}